<h1> MIS PROYECTOS</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card mb-4">
   <%= image_tag 'suricata.png',  class:"card-img-top imagen" %>
  <div class="card-body">
    <h5 class="card-title">Suricata</h5>
    <p class="card-text"> Proyecto con HTML CSS y BOOTSTRAP.</p>
    <a href="#" class="btn btn-primary boton">Ver Más</a>
  </div>
</div>
    </div>
    <div class="col-sm">
     <div class="card mb-4">
   <%= image_tag 'postgres_peliculas_1.png',  class:"card-img-top imagen" %>
  <div class="card-body">
    <h5 class="card-title">Postgres Pelicula1</h5>
    <p class="card-text"> Proyecto de PostgreSQL con bases de datos</p>
    <a href="#" class="btn btn-primary boton">Ver Más</a>
  </div>
</div>
    </div>
    <div class="col-sm">
     <div class="card mb-4">
  <%= image_tag 'Prueba_ruby.png',  class:"card-img-top imagen" %>
  <div class="card-body">
    <h5 class="card-title">Prueba Ruby</h5>
    <p class="card-text"> Usando Herencia y Polimorfismo pudimos modificar un ejercicio desde Condicional if</p>
    <a href="#" class="btn btn-primary boton"> Ver Más</a>
  </div>
</div>
    </div>
  </div>
</div>

